Package: com.phillipt.conformity
Name: Conformity
Depends: mobilesubstrate, cc.tweak.libobjcipc
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
